{% extends 'IcoderBundle:Default:index.html.twig' %}

{% block pageTitle %}Ediciones{% endblock %}

{% block title %}Ediciones{% endblock %}

{% block panelTitle %}
    <h1 class="col-xs-3 panel-title">Lista de Ediciones</h1>
    <a class="btn btn-primary col-xs-3 col-xs-offset-6" href="{{ path('editions_new') }}">Agregar Edici칩n</a>
{% endblock %}

{% block panelBody %}
    {% if error %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title">{{ error }}</h1>
            </div>
        </div>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>A침o</th>
                <th>Lugar</th>
                <th>Inicio</th>
                <th>Conclusi칩n</th>
                <th>Activa</th>
            </tr>
        </thead>
        <tbody>
            {% for edition in editions %}
                <tr>
                    <td><a href="{{path('editions_show', { 'id' : edition.id })}}">{{ edition.name }}</a></td>
                    <td>{% if edition.year %}{{ edition.year|date('Y') }}{% endif %}</td>
                    <td>{{ edition.pace }}</td>
                    <td>{% if edition.start %}{{ edition.start|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if edition.end %}{{ edition.end|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if edition.active %}Yes{% else %}No{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block panelFooter %}
    <a class="btn btn-primary col-xs-3" href="{{ path('editions_new') }}">Agregar Edici칩n</a>
{% endblock %}


{% block content_nav %}
    {% include 'IcoderBundle:Default:nav_default.html.twig' %}
{% endblock %}