{% extends 'IcoderBundle:edition:index.html.twig' %}

{% block panelTitle %}
    <h1 class="panel-title">Agregar Edición</h1>
    <a class="btn btn-primary col-xs-3 col-xs-offset-9" href="{{ path('editions_index') }}">Listar Ediciones</a>
{% endblock %}

{% block panelBody %}
    <form class="form-horizontal" action="{{path('editions_new')}}" method="POST">
        <div class="form-group">
            <label class="col-xs-2 control-label">Año</label>
            <div class="col-xs-8">
                {{ form_widget(form.year.year,{attr:{'class':'form-control'}}) }}
                {{ form_widget(form.year.month,{attr:{'class':'hidden'}}) }}
                {{ form_widget(form.year.day,{attr:{'class':'hidden'}}) }}
            </div>
            <div class="col-xs-2">
                <label class="checkbox">
                    {{ form_widget(form.active)}} Activo
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">Nombre</label>
            <div class="col-xs-10">
                {{ form_widget(form.name, {attr:{'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">Lugar</label>
            <div class="col-xs-10">
                {{ form_widget(form.pace, {attr:{'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">Inicio</label>
            <div class="col-xs-10">
                <div class="col-xs-12 col-sm-4">
                    {{ form_widget(form.start.year, {attr:{'class': 'form-control'}}) }}
                </div>
                <div class="col-xs-12 col-sm-4">
                    {{ form_widget(form.start.month, {attr:{'class': 'form-control'}}) }}
                </div>
                <div class="col-xs-12 col-sm-4">
                    {{ form_widget(form.start.day, {attr:{'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">Finaliza</label>
            <div class="col-xs-10">
                <div class="col-xs-12 col-sm-4">
                    {{ form_widget(form.end.year, {attr:{'class': 'form-control'}}) }}
                </div>
                <div class="col-xs-12 col-sm-4">
                    {{ form_widget(form.end.month, {attr:{'class': 'form-control'}}) }}
                </div>
                <div class="col-xs-12 col-sm-4">
                    {{ form_widget(form.end.day, {attr:{'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Agregar" />
        {{ form_end(form) }}
    {% endblock %}

    {% block panelFooter %}
        <a class="btn btn-primary col-xs-3" href="{{ path('editions_index') }}">Listar Ediciones</a>
    {% endblock %}
