{% extends 'IcoderBundle:edition:index.html.twig' %}

{% block panelTitle %}
    <h1 class="panel-title">Edition</h1>
    <a class="btn btn-primary col-xs-2 col-xs-offset-10" href="{{ path('editions_index') }}">Listar Ediciones</a>
{% endblock %}

{% block panelBody %}
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ edition.name }}</td>
            </tr>
            <tr>
                <th>Año</th>
                <td>{% if edition.year %}{{ edition.year|date('Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lugar</th>
                <td>{{ edition.pace }}</td>
            </tr>
            <tr>
                <th>Inicio</th>
                <td>{% if edition.start %}{{ edition.start|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Finalizacion</th>
                <td>{% if edition.end %}{{ edition.end|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if edition.active %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block panelFooter %}
    {{ form_start(delete_form) }}
    <input class="btn btn-primary col-xs-2" type="submit" value="Eliminar">
    {{ form_end(delete_form) }}
    <a class="btn btn-primary col-xs-2 col-xs-offset-3" href="{{ path('editions_edit', { 'id': edition.id }) }}">Editar</a>
    <a class="btn btn-primary col-xs-2 col-xs-offset-3" href="{{ path('editions_index') }}">Listar Ediciones</a>
{% endblock %}
