{% extends 'base.html.twig' %}

{% block body %}
    <h1>Competitors list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Lastname1</th>
                <th>Lastname2</th>
                <th>Dni</th>
                <th>Emil</th>
                <th>Telephone</th>
                <th>Height</th>
                <th>Wight</th>
                <th>Blood</th>
                <th>Address</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competitor in competitors %}
            <tr>
                <td><a href="{{ path('competitor_show', { 'id': competitor.id }) }}">{{ competitor.id }}</a></td>
                <td>{{ competitor.name }}</td>
                <td>{{ competitor.lastname1 }}</td>
                <td>{{ competitor.lastname2 }}</td>
                <td>{{ competitor.dni }}</td>
                <td>{{ competitor.emil }}</td>
                <td>{{ competitor.telephone }}</td>
                <td>{{ competitor.height }}</td>
                <td>{{ competitor.wight }}</td>
                <td>{{ competitor.blood }}</td>
                <td>{{ competitor.address }}</td>
                <td>{% if competitor.active %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('competitor_show', { 'id': competitor.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('competitor_edit', { 'id': competitor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('competitor_new') }}">Create a new competitor</a>
        </li>
    </ul>
{% endblock %}
