{% extends 'IcoderBundle:Default:index.html.twig' %}


{% block pageTitle %}Competidores{% endblock %}

{% block title %}Competidores{% endblock %}

{% block panelTitle %}
    <h1 class="col-xs-3 panel-title">Lista de competidores</h1>
    <a class="btn btn-primary col-xs-3 col-xs-offset-6" href="{{ path('competitor_new')}}">Agregar competidor</a>
{% endblock %}

{% block panelBody %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="hidden">Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cedula</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Sangre</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody>
            {% for competitor in competitors %}
                <tr>
                    <td class="hidden"><a href="{{ path('competitor_show', { 'id': competitor.id }) }}">{{ competitor.id }}</a></td>
                    <td> <a href="{{ path('competitor_show', { 'id': competitor.id }) }}">{{ competitor.name }}</a></td>
                    <td>{{ competitor.lastname1 ~ " " ~ competitor.lastname2 }}</td>
                    <td>{{ competitor.dni }}</td>
                    <td>{{ competitor.emil }}</td>
                    <td>{{ competitor.telephone }}</td>
                    <td>{{ competitor.blood }}</td>
                    <td>{% if competitor.active %}Yes{% else %}No{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block panelFooter %}
    <a class="btn btn-primary col-xs-3" href="{{ path('competitor_new')}}">Agregar competidor</a>
{% endblock %}

{% block content_nav %}
    {% include 'IcoderBundle:competitor:nav_competitor.html.twig' %}
{% endblock %}