{% extends 'IcoderBundle:competitor:index.html.twig' %}

{% block panelTitle %}
    <h1 class="panel-title">Agregar Competidor</h1>
    <a class="btn btn-primary col-xs-3 col-xs-offset-9" href="{{path('competitor_index') }}">Listar Competidores</a>
{% endblock %}

{% block panelBody %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-primary" type="submit" value="Agregar" />
    {{ form_end(form) }}
{% endblock %}

{% block panelFooter %}
    <a class="btn btn-primary col-xs-3" href="{{path('competitor_index') }}">Listar Competidores</a>
{% endblock %}