{% extends 'IcoderBundle:competitor:index.html.twig' %}

{% block panelTitle %}
    <h1 class="col-xs-3 panel-title">Detalles competidor</h1>
    <a class="btn btn-primary col-xs-3 col-xs-offset-6" href="{{ path('competitor_index') }}">Listar Competidores</a>
{% endblock %}


{% block panelBody %}
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ competitor.name }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{competitor.lastname1 ~ " " ~ competitor.lastname2 }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ competitor.dni }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ competitor.emil }}</td>
            </tr>
            <tr>
                <th>Teléfono</th>
                <td>{{ competitor.telephone }}</td>
            </tr>
            <tr>
                <th>Estatura</th>
                <td>{{ competitor.height }}</td>
            </tr>
            <tr>
                <th>Peso</th>
                <td>{{ competitor.wight }}</td>
            </tr>
            <tr>
                <th>Sangre</th>
                <td>{{ competitor.blood }}</td>
            </tr>
            <tr>
                <th>Dirección</th>
                <td>{{ competitor.address }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if competitor.active %}Si{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block panelFooter %}
    {{ form_start(delete_form) }}
    <input class="btn btn-primary col-xs-3" type="submit" value="Eliminar">
    {{ form_end(delete_form) }}
    <a class="btn btn-primary col-xs-2 col-xs-offset-2" href="{{ path('competitor_edit', { 'id': competitor.id }) }}">Editar</a>
    <a class="btn btn-primary col-xs-3 col-xs-offset-2" href="{{ path('competitor_index') }}">Listar Competidores</a>
{% endblock %}
