{% extends 'base.html.twig' %}

{% block body %}
    <h1>Competitor</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ competitor.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ competitor.name }}</td>
            </tr>
            <tr>
                <th>Lastname1</th>
                <td>{{ competitor.lastname1 }}</td>
            </tr>
            <tr>
                <th>Lastname2</th>
                <td>{{ competitor.lastname2 }}</td>
            </tr>
            <tr>
                <th>Dni</th>
                <td>{{ competitor.dni }}</td>
            </tr>
            <tr>
                <th>Emil</th>
                <td>{{ competitor.emil }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ competitor.telephone }}</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ competitor.height }}</td>
            </tr>
            <tr>
                <th>Wight</th>
                <td>{{ competitor.wight }}</td>
            </tr>
            <tr>
                <th>Blood</th>
                <td>{{ competitor.blood }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ competitor.address }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if competitor.active %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('competitor_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('competitor_edit', { 'id': competitor.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
