{% extends 'IcoderBundle:Default:index.html.twig' %}

{% block pageTitle %}Usuarios{% endblock %}

{% block title %}Usuarios{% endblock %}

{% block panelTitle %}
    <h1 class="col-xs-3 panel-title">Lista de Usuarios</h1>
    <a class="btn btn-primary col-xs-3 col-xs-offset-6" href="{{ path('user_new') }}">Agregar Usuario</a>
{% endblock %}

{% block panelBody %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="hidden">Id</th>
                <th class="hidden">Name</th>
                <th class="hidden">Lastname</th>
                <th>Username</th>
                <th class="hidden">Password</th>
                <th>Dni</th>
                <th>Email</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td class="hidden"></td>
                    <td class="hidden">{{ user.name }}</td>
                    <td class="hidden">{{ user.lastname }}</td>
                    <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.username }}</a></td>
                    <td class="hidden">{{ user.password }}</td>
                    <td>{{ user.dni }}</td>
                    <td>{{ user.email }}</td>
                    <td>{% if user.active %}Yes{% else %}No{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block panelFooter %}
        <a class="btn btn-primary col-xs-3" href="{{ path('user_new') }}">Agregar Usuario</a>
{% endblock %}
