{% extends 'IcoderBundle:user:index.html.twig' %}

{% block panelTitle %}
    <h1 class="panel-title col-xs-3">Crear Usuario</h1>
    <a class="btn btn-primary col-xs-3 col-xs-offset-6" href="{{ path('user_index') }}">Listar Usuarios</a>
{% endblock %}
{% block panelBody %}
    <form class="form-horizontal" action="{{ path('user_new') }}" method="POST">
        <div  class="col-sm-6" >
            <div class="form-group">
                <label class="col-xs-12 control-label">
                    {{ form_widget(form.active)}} Activo
                </label>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">Nombre</label>
                <div class="col-xs-10">
                    {{ form_widget(form.name, { attr: {class: 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">Apellido</label>
                <div class="col-xs-10">
                    {{ form_widget(form.lastname, { attr: {class: 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label ">Cedula</label>
                <div class="col-xs-10">
                    {{ form_widget(form.dni, { attr: {class: 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">Correo</label>
                <div class="col-xs-10">
                    {{ form_widget(form.email, { attr: {class: 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">Roles</label>
                <div class="col-xs-10">
                    {{ form_widget(form.roles, { 'attr': {class: 'form-control list-group', choice_attr: 'list-item'}}) }}
                </div>
            </div>
            <input class="btn btn-primary" type="submit" name="Agregar" value="Agregar"/>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Datos ingreso</h1>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Usuario</label>
                        <div class="col-xs-10">
                            {{ form_widget(form.username, { attr: {class: 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Contraseña</label>
                        <div class="col-xs-10">
                            {{ form_widget(form.plainPassword.first, { attr: {class: 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Verificar</label>
                        <div class="col-xs-10">
                            {{ form_widget(form.plainPassword.second, { attr: {class: 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    {% endblock %}

    {% block panelFooter %}
        <a class="btn btn-primary col-xs-3" href="{{ path('user_index') }}">Listar Usuarios</a>
    {% endblock %}
