{% extends 'template.html.twig' %}

{% block content %}
    <h1>User creation</h1>

    {# {{ dump(form) }} #}
    
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('user_index') }}">listar usuarios</a>
        </li>
    </ul>
{% endblock %}
