{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cantons list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for canton in cantons %}
            <tr>
                <td><a href="{{ path('canton_show', { 'id': canton.id }) }}">{{ canton.id }}</a></td>
                <td>{{ canton.name }}</td>
                <td>{% if canton.active %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('canton_show', { 'id': canton.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('canton_edit', { 'id': canton.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('canton_new') }}">Create a new canton</a>
        </li>
    </ul>
{% endblock %}
