{% extends 'template.html.twig' %}

{% block css %}
    <link href="{{ asset('css/forms/form.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content_body %}
    <div clas="panel panel-defautl">
        <div class="panel-heading">
            <div class="row">
                <h1 class="panel-title col-xs-3">Crear cantón</h1>
                <a class="btn btn-primary col-xs-3 col-xs-offset-6" href="{{path('canton_index')}}">Regresar</a>
            </div>
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div class="panel-footer">
            <div class="row">
                <a class="btn btn-primary col-xs-3" href="{{ path('canton_index') }}">Regresar</a>
            </div>
        </div>
    </div>

{% endblock %}
