<div class="row">
    <form action="{{ path('canton_new') }}" method="post" >
        <div class="form-group col-xs-12 col-sm-8">
            <div class="input-group">
                <span class="input-group-addon" >Nombre</span>
                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

        <div class="form-group col-xs-12 col-sm-2">
            <div class="checkbox">
                <label>
                    {{ form_widget(form.active)}}Activo
                </label>
            </div>
        </div>
                
        <div class="hidden">
            {{ form_widget(form.province)}}Activo
        </div>


        <div class="form-group col-xs-12 col-sm-2">
            <input class="btn btn-primary" type="submit" value="Agregar" />
        </div>
        {{ form_end(form) }}
</div>
