{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edicionjuegos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Ciclo</th>
                <th>Finicio</th>
                <th>Ffin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for edicionJuego in edicionJuegos %}
            <tr>
                <td><a href="{{ path('edicion_show', { 'id': edicionJuego.id }) }}">{{ edicionJuego.id }}</a></td>
                <td>{{ edicionJuego.nombre }}</td>
                <td>{% if edicionJuego.ciclo %}{{ edicionJuego.ciclo|date('Y-m-d') }}{% endif %}</td>
                <td>{% if edicionJuego.fInicio %}{{ edicionJuego.fInicio|date('Y-m-d') }}{% endif %}</td>
                <td>{% if edicionJuego.fFin %}{{ edicionJuego.fFin|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('edicion_show', { 'id': edicionJuego.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('edicion_edit', { 'id': edicionJuego.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('edicion_new') }}">Create a new edicionJuego</a>
        </li>
    </ul>
{% endblock %}
