{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edicionjuego</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ edicionJuego.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ edicionJuego.nombre }}</td>
            </tr>
            <tr>
                <th>Ciclo</th>
                <td>{% if edicionJuego.ciclo %}{{ edicionJuego.ciclo|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Finicio</th>
                <td>{% if edicionJuego.fInicio %}{{ edicionJuego.fInicio|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ffin</th>
                <td>{% if edicionJuego.fFin %}{{ edicionJuego.fFin|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('edicion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('edicion_edit', { 'id': edicionJuego.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
