{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inscription.id }}</td>
            </tr>
            <tr>
                <th>Register</th>
                <td>{% if inscription.register %}{{ inscription.register|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('inscription_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('inscription_edit', { 'id': inscription.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
