{% extends 'IcoderBundle:Default:index_modal.html.twig' %}

{% block pageTitle %}
    Inscripciones
{% endblock %}

{% block title %}
    Agregando Competidores
{% endblock %}

{% block panelTitle %}
    <h1 class="panel-title">
        {{ inscription.team }}
        {% if not inscription.edition.active %}
            <label>No se pueden hacer cambios</label>
        {% endif %}
    </h1>
{% endblock %}

{% block panelBody %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Sangre</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody>
            {% for competitor in competitors %}
                <tr>
                    <td><a href="{{ path('competitor_show', { 'id': competitor.id }) }}">{{ competitor.dni }}</a></td>
                    <td>{{ competitor.name ~ " " ~ competitor.lastname1 ~ " " ~ competitor.lastname2 }}</td>
                    <td>{{ competitor.emil }}</td>
                    <td>{{ competitor.telephone }}</td>
                    <td>{{ competitor.blood }}</td>
                    <td><input type="checkbox" disabled="true" class="checkbox" checked="{{ competitor.active }}"/></td>
                </tr>
            {% else %}
                <p>No hay competidores registrados</p>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block panelFooter %}
{% endblock %}

{% block modalText %}Agregar{% endblock %}
{% block modalBody %}
    {{ render(controller('IcoderBundle:competitor:newByDni', {'ins': inscription.id,'can':canton.id, }))}}
{% endblock %}

{% block js %}
            <script src=" {{ asset('js/competitors.js') }}" type="text/javascript"></script>
{% endblock %}