{% extends 'IcoderBundle:type:index.html.twig' %}

{% block panelTitle %}
    <h1 class="col-xs-3 panel-title">Editando</h1>
    <a class="btn btn-primary col-xs-3 col-xs-offset-6" href="{{ path('type_index') }}">Listar Tipos</a>
{% endblock %}

{% block panelBody %}
    <form class="form-horizontal" action="{{path('type_edit', {'id':type.id})}}" method="POST">
        <div class="form-group">
            <label class="col-xs-2 control-label">
                {{ form_widget(edit_form.active) }} Activo
            </label>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">Nombre</label>
            <div class="col-xs-10">
                {{ form_widget(edit_form.name, {attr:{'class': 'form-control'}}) }}
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Editar" />
    {{ form_end(edit_form) }}
{% endblock %}


{% block panelFooter %}
    <a class="btn btn-primary col-xs-3" href="{{ path('type_index') }}">Listar Tipos</a>
    {{ form_start(delete_form) }}
    <input class="btn btn-primary col-xs-3 col-xs-offset-6" type="submit" value="Eliminar">
    {{ form_end(delete_form) }}
{% endblock %}
