{% extends 'IcoderBundle:type:index.html.twig' %}


{% block panelTitle %}
    <h1 class="col-xs-3 panel-title col-xs-3">Tipo {{type.name}}</h1>
    <a class="btn btn-primary col-xs-3 col-xs-offset-6" href="{{ path('type_index') }}">Listar Tipos</a>
{% endblock %}

{% block panelBody %}
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ type.name }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if type.active %}Si{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block panelFooter %}
    <a class="btn btn-primary col-xs-3" href="{{ path('type_index') }}">Listar Tipos</a>
    <a class="btn btn-primary col-xs-2 col-xs-offset-2" href="{{ path('type_edit', { 'id': type.id }) }}">Editar</a>
            {{ form_start(delete_form) }}
            <input class="btn btn-primary col-xs-3 col-xs-offset-2" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
{% endblock %}
