{% extends 'IcoderBundle:sport:index.html.twig' %}

{% block pageTitle %}Prueba{% endblock %}

{% block title %}Prueba deportiva{% endblock %}

{% block panelTitle %}
    <h1 class="col-xs-3 panel-title">Lista Pruebas Depotivas</h1>
    <a class="btn btn-primary col-xs-3 col-xs-offset-6" href="{{ path('test_new') }}">Agregar Prueba</a>
{% endblock %}

{% block panelBody %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Femenino</th>
                <th>Rango</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for sportTest in sportTests %}
                <tr>
                    <td><a href="{{ path('test_show', { 'id': sportTest.id }) }}">{{ sportTest.name }}</a></td>
                    <td>{% if sportTest.isFemale %}Si{% else %}No{% endif %}</td>
                    <td>
                        {% if sportTest.year1 %}{{ sportTest.year1|date('Y-m-d') }}{% endif %}
                        -
                        {% if sportTest.year2 %}{{ sportTest.year2|date('Y-m-d') }}{% endif %}
                    </td>
                    <td>{% if sportTest.date %}{{ sportTest.date|date('Y-m-d') }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block panelFooter %}
    <a class="btn btn-primary col-xs-3" href="{{ path('test_new') }}">Agregar Prueba</a>
{% endblock %}
