{% extends 'IcoderBundle:sporttest:index.html.twig' %}

{% block panelTitle %}
    <h1 class="col-xs-3 panel-title">Agreagr Prueba</h1>
    <a class="btn btn-primary col-xs-3 col-xs-offset-6" href="{{ path('test_index') }}">Listar Pruebas</a>
{% endblock %}

{% block panelBody %}
    {{ form_start(form, {attr:{'class':'form-horizontal'}}) }}
    <div class="form-group">
        <label class="col-xs-2 ceckbox">
            {{ form_widget(form.isFemale) }} Femenino
        </label>
    </div>
    <div class="form-group ">
        <label class="col-xs-2 control-label">Nombre</label>
        <div class="col-xs-10">
            {{ form_widget(form.name, { attr : {'class' : 'form-control', }}) }}
        </div>
    </div>
    <div class="form-group ">
        <label class="col-xs-2 control-label">Fecha limite</label>
        <div class="col-xs-10">
            <div class="col-xs-3">
                {{ form_widget(form.year1.year, { attr : {'class' : 'form-control', 'title':'Ultima fecha de nacimiento admitida'}}) }}
            </div>
            <div class="col-xs-3">
                {{ form_widget(form.year1.month, { attr : {'class' : 'form-control', 'title':'Ultima fecha de nacimiento admitida'}}) }}
            </div>
            <div class="col-xs-3">
                {{ form_widget(form.year1.day, { attr : {'class' : 'form-control', 'title':'Ultima fecha de nacimiento admitida'}}) }}
            </div>
        </div>
    </div>
    <div class="form-group ">
        <label class="col-xs-2 control-label">Fecha Minima</label>
        <div class="col-xs-10">
            <div class="col-xs-3">
                {{ form_widget(form.year2.year, { attr : {'class' : 'form-control', 'title':'Fecha de nacimeinto más reciente adminitida'}}) }}
            </div>
            <div class="col-xs-3">
                {{ form_widget(form.year2.month, { attr : {'class' : 'form-control', 'title':'Fecha de nacimeinto más reciente adminitida'}}) }}
            </div>
            <div class="col-xs-3">
                {{ form_widget(form.year2.day, { attr : {'class' : 'form-control', 'title':'Fecha de nacimeinto más reciente adminitida'}}) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label">Cantegoría</label>
        <div class="col-xs-10">
            {{ form_widget(form.category, {attr:{'class':'form-control'}}) }}
        </div>
    </div>
    <div class="hidden">
        {{ form_widget(form.date) }}
    </div>
    <input class="btn btn-primary" type="submit" value="Agregar" />
    {{ form_end(form) }}
{% endblock %}

{% block panelFooter %} 
    <a class="btn btn-primary col-xs-3" href="{{ path('test_index') }}">Listar Pruebas</a>
{% endblock %}
