{% extends 'IcoderBundle:sporttest:index.html.twig' %}

{% block panelTitle %}
    <h1 class="col-xs-3 panel-title">Agreagr Prueba</h1>
    <a class="btn btn-primary col-xs-3 col-xs-offset-6" href="{{ path('test_index') }}">Listar Pruebas</a>
{% endblock %}

{% block panelBody %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-primary" type="submit" value="Create" />
    {{ form_end(form) }}
{% endblock %}

{% block panelFooter %} 
    <a class="btn btn-primary col-xs-3" href="{{ path('test_index') }}">Listar Pruebas</a>
{% endblock %}
