<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Opciones</h3>
    </div>
    <div class="panel-body">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="list-group">
                <div class="" id="collapse">
                    <a class="list-group-item" data-toggle="collapse" data-parent="#collapse" href="#deportes">
                        Deportes
                    </a>
                    <div id="deportes" class="panel-collapse collapse">
                        <div class="col-xs-offset-1">
                            <a class="list-group-item" href="{{url('sport_new')}}" >Agregar</a>
                            <a class="list-group-item" href="{{url('sport_index')}}" >Listar</a>
                        </div>
                    </div>
                </div>
                <div class="" id="collapse">
                    <a class="list-group-item" data-toggle="collapse" data-parent="#collapse" href="#categorias">
                        Categorias
                    </a>
                    <div id="categorias" class="panel-collapse collapse">
                        <div class="col-xs-offset-1">
                            <a class="list-group-item" href="{{url('sport_category_new')}}" >Agregar</a>
                            <a class="list-group-item" href="{{url('sport_category_index')}}" >Listar</a>
                        </div>
                    </div>
                </div>
                <div class="" id="collapse">
                    <a class="list-group-item" data-toggle="collapse" data-parent="#collapse" href="#pruebas">
                        Pruebas
                    </a>
                    <div id="pruebas" class="panel-collapse collapse">
                        <div class="col-xs-offset-1">
                            <a class="list-group-item" href="{{url('test_new')}}" >Agregar</a>
                            <a class="list-group-item" href="{{url('test_index')}}" >Listar</a>
                        </div>
                    </div>
                </div>
                <div class="" id="collapse">
                    <a class="list-group-item" data-toggle="collapse" data-parent="#collapse" href="#equipos">
                        Equipos
                    </a>
                    <div id="equipos" class="panel-collapse collapse">
                        <div class="col-xs-offset-1">
                            <a class="list-group-item" href="{{url('team_new')}}" >Agregar</a>
                            <a class="list-group-item" href="{{url('team_index')}}" >Listar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
