{% extends 'IcoderBundle:sport:index.html.twig' %}

{% block panelTitle %}
    <h1 class="col-xs-3 panel-title">Agregar Deporte</h1>
    <a class="btn btn-primary col-xs-3 col-xs-offset-6" href="{{ path('sport_index') }}">Listar Deportes</a>
{% endblock %}

{% block panelBody %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-primary" type="submit" value="Agregar" />
    {{ form_end(form) }}
{% endblock %}

{% block panelFooter %}
    <a class="btn btn-primary col-xs-3" href="{{ path('sport_index') }}">Listar Deportes</a>
{% endblock %}
