{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sporttest</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sportTest.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ sportTest.name }}</td>
            </tr>
            <tr>
                <th>Isfemale</th>
                <td>{% if sportTest.isFemale %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Year1</th>
                <td>{% if sportTest.year1 %}{{ sportTest.year1|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Year2</th>
                <td>{% if sportTest.year2 %}{{ sportTest.year2|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if sportTest.date %}{{ sportTest.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('test_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('test_edit', { 'id': sportTest.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
